.jumbotron {
    background-image: url(desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 57em;
    width: 105em;
}


.card {
    background: white;
    opacity: 0.9;
}
