.jumbotron {
    background-image: url(desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.card {
    background: white;
    opacity: 0.9;
}
